body {
  margin: 0;
  background-color: rgb(70, 68, 68);
}

main {
  width: 400vh;
}

header {
  display: flex;
  flex-direction: column;
}

.img {
  position: relative;
  height: auto; /* Высота изображения определяется его исходными пропорциями */
  overflow: hidden;
}

.img img {
  width: 100%;
  height: auto; /* Высота изображения определяется его исходными пропорциями */
}

.bnrs {
  display: flex;
  color: bisque;
  bottom: 0;
  position: absolute;
  justify-content: center;
  gap: 2rem; /* Расстояние между баннерами */
  width: 100%;
}

.bnr {
  opacity: 0.6;
  /* Размеры и стили для баннеров */
}