body {
  margin: 0;
  /* background-color: black; */
}
.header {
  position: relative;
}
.imagebanner img {
  width: 100%;
  position: absolute;
}
.logo, .oscar, .play {
  z-index: 2;
}
main {
  width: 400vh;
}
.container {
  margin-left: 150px;
  height: 147.781px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}
.play {
  margin-bottom: 20px;
  color: white;
}
.oscar {
  margin-bottom: 20px;
  color: white;
}