body {
  margin: 0;
}

main {
  width: 400vh;
}


.banner {
  background-image: url("./imagebanner.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 155px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav-elements {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  list-style-type: none;
}

.logo {
  height: 40px;
}

.list-element{
  display: flex;
  align-items: center;
  gap: 10px;
}

.link{
  color: white;
  text-decoration: none;
}

.transparent{
  opacity: 0.7;
  &:hover{
    opacity: 1;
  }
}